<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @sabrolazer.title %>
</p>

<p>
  <strong>Level:</strong>
  <%= @sabrolazer.level %>
</p>

<p>
  <strong>Color:</strong>
  <%= @sabrolazer.color %>
</p>

<%= link_to 'Edit', edit_sabrolazer_path(@sabrolazer) %> |
<%= link_to 'Back', sabrolazers_path %>
